# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
staticfiles/

# User uploaded files
media/

# Environment variables
.env

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store